.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge-notice {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: block;
  position: absolute;
  right: -5px;
  top: -12px;
}

.badge-point {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: block;
  position: absolute;
  right: -8px;
  top: -12px;
}
